body {
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagens/WhatsApp\ Image\ 2025-05-16\ at\ 14.40.52\ \(1\).png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: cover;
    margin-bottom: 600px;
}
.igamagem-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    object-fit: cover;
}

a {
    color: red;
    margin-left: 459PX;
    font-size: 19px;
    justify-content: right;
    margin-bottom: 100px;
    margin-bottom: 100px;
    
    
}


h1 {
    color: blue;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: -100px;
    font-size: 25px;
}


h2 {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 25px;

}


h3 {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


h4 {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


h5 {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


.container {
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }
}

head {
    margin-left: 400px;
    bottom: unset;
}

@media (max-width: 768px) {
    
body {
   font-size: 16px;
   
   }
}

@media (max-width: 768px) {

    body {
      font-size: 14px;
    }
  }  
  .imagem {
    width: 100%;
    height: auto;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

